---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Andrew Burleigh. <a href="https://github.com/cassidoo/blahg">Thanks to cassidoo</a>!
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
