---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header>
  <div class="flex items-center justify-center flex-wrap">
    <div class="max-w-md">
      <h1 class="text-4xl font-bold">{SITE_TITLE}</h1>
      <h2 class="text-xl my-[0.5em]">{SITE_DESCRIPTION}</h2>
    </div>
  </div>
</header>
<nav class="sticky top-0 text-center bg-transwhite backdrop-blur-sm dark:bg-transblack">
  <HeaderLink href="/">home</HeaderLink>
  <HeaderLink href="/posts">posts</HeaderLink>
  <HeaderLink href="https://github.com/aburleigh94">github</HeaderLink>
  <HeaderLink href="https://www.linkedin.com/in/aburleigh94/"
    >linkedin</HeaderLink
  >
</nav>
